.imagesofFriend{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    object-fit: cover;
}
.friendsists{
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: left;
   padding: 10px;
    margin-top: 5px;
    gap: 10px;
}
